<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SmartModelContainer" connectionString="metadata=res://*/Database.SmartModel.csdl|res://*/Database.SmartModel.ssdl|res://*/Database.SmartModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EXECUTOR\SQLEXPRESS;Initial Catalog=SmartParser;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>