<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PriceProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=res://*/Model.Database.csdl|res://*/Model.Database.ssdl|res://*/Model.Database.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\sku\Documents\Visual Studio 2010\Projects\PriceProcessor\PriceProcessor\pricechecker-new.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <PriceProcessor.Properties.Settings>
      <setting name="DataBaseFile" serializeAs="String">
        <value />
      </setting>
    </PriceProcessor.Properties.Settings>
  </userSettings>
</configuration>