<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="UserConfig" type="Comagic2Megaplan.UserConfigSection, Comagic2Megaplan" />
  </configSections>

  <UserConfig>
    <Comagic>
      <add key="login" value="infarch74@gmail.com" />
      <add key="password" value="fdS45fow" />
    </Comagic>
    <Megaplan>
      <add key="login" value="infarch74@gmail.com" />
      <add key="password" value="infa123" />
      
      <!-- Setup a project -->

      <!-- Project: eventmoskva -->
      <add key="host" value="eventmoskva" />
      <add key="responsibleId" value="1000003" />
      <add key="fldPhoneTo" value="Model[Category1000048CustomFieldNaKakoyNomerZvonili]" />
      <add key="fldWaitTime" value="Model[Category1000048CustomFieldVremyaOzhidaniya]" />
      <add key="fldDuration" value="Model[Category1000048CustomFieldProdolzhitelnostRazgovora]" />
      <add key="fldAcId" value="Model[Category1000048CustomFieldIdReklamnoyKampanii]" />
      <add key="fldCallDate" value="Model[Category1000048CustomFieldVremyaZvonka]" />
      <add key="fldPlace" value="Model[Category1000048CustomFieldKontaktPloshchadka]" />
      
      <!-- Project: air-van -->
      <!--
      <add key="host" value="air-van" />
      <add key="responsibleId" value="1000000" />
      <add key="fldPhoneTo" value="" />
      <add key="fldWaitTime" value="" />
      <add key="fldDuration" value="" />
      <add key="fldAcId" value="" />
      <add key="fldCallDate" value="" />
      <add key="fldPlace" value="" />
      -->
      
    </Megaplan>
    <IgnoreList>
      <add key="74951251208" />
      <add key="74951251608" />
      <add key="74952563441" />
      <add key="74952564944" />
      <add key="74952564938" />
      <add key="74952562354" />
      <add key="74952564901" />
      <add key="74952560577" />
      <add key="74952562337" />
      <add key="74952562988" />
    </IgnoreList>
    <Misc>
      <add key="interval" value="5" />
    </Misc>
  </UserConfig>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  
</configuration>
